{% extends "base.html" %}
{% block content %}

<h1>Frequently Asked Questions</h1>

<div class="faq-item">
    <h3>How long does it take to deliver photos?</h3>
    <p>Most photos are recieved and delivered within 4-7 days.</p>
</div>

<div class="faq-item">
    <h3>Do we edit photos that were taken?</h3>
    <p>Yes, all photos are edited lighty to remain clear.</p>
</div>

<div class="faq-item">
    <h3>How do I access photos?</h3>
    <p>You can view them securely through EchoPortal's gallery.</p>
</div>

{% endblock %}