{% extends "base.html" %}
{% block content %}

<h1>Services & Expectations</h1>

<p>Our ministry provides photography support for church events and gatherings</p>

<h2>Moment Captures</h2>
<div class="service-grid">
    <div class="service-card">Sunday Services</div>
    <div class="service-card">Conferences</div>
    <div class="service-card">Youth Nights</div>
    <div class="service-card">Baptisms</div>
    <div class="service-card">Community Events</div>
</div>

<h2>What to expect</h2>
<ul>
    <li>Free photography for chruch members</li>
    <li>Edited photos delivered securely</li>
    <li>4-7 day delivery</li>
    <li>Secure and Tolerant handling of sensitive images/photos</li>
</ul>

{% endblock %}