{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card p-4 shadow" style="width: 350px;">

        <div class="d-flex mb-4">
            <a href="/login"
                class="btn {% if request.path == '/login' %}btn-primary{% else %}btn-light{% endif %} flex-fill me-2">
                Login
            </a>

            <a href="/signup"
                class="btn {% if request.path == '/signup' %}btn-primary{% else %}btn-light{% endif %} flex-fill">
                Signup
            </a>
        </div>

        <h2 class="text-center mb-4">Sign up</h2>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form method="POST">
            {{ csrf_token() }}
            <input type="text" name="username" class="form-control mb-3" 
                placeholder="Username"
                minlength="5"
                maxlength="10"
                pattern="[A-Za-z0-9]{5,10}"
                title="Must be 5-10 chracters long."
                required>

            <input type="password" name="password" class="form-control mb-3"
                placeholder="Password"
                minlength="10"
                pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{10,}"
                title="Must be least 10 characters, including: uppercase, lowercase, number & special character"
                required>
            <button class="btn btn-primary w-100">Create Account</button>
        </form>

        <p class="mt-3 text-center">
            Already have an account?
            <a href="/login">Login here</a>
        </p>

    </div>
</div>

{% endblock %}
