{% extends "base.html" %}
{% block contemt %}
<div class="container mt-5" style="max-width: 500px;">
    <h2 class="mb-4 text-center">Create an account</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input name="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input name="password" type="password" class="form-control" required>
        </div>

        <button class="btn btn-primary w-100">Sign Up</button>
    </form>
</div>
{% endblock %}